<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Votox{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
</head>
<body>
    {% block header %}{{  include('blocks/header.html.twig') }}{% endblock %}

    {% block body %}{% endblock %}

<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/vendors~app.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>